$primary-color: #540804;
$secondary-color: #81171b;
// $button-color: #9c1c20;
// $button-color: #820700;

$button-color: #a30800;
// $button-color: #b80900;

// $btn-border-color: #8b181c;
// $btn-border-color: #7a0600;

$btn-border-color: #ac0900;

$btn-active-color: #c85919;
$btn-active-border-color: #e46b25;
$text-color: #ebefbf;

* {
    font-family: "Iosevka", sans-serif;
    font-weight: 700;
    font-size: 14px;
}

box image {
    font-size: 15px;
}

.background {
    background-color: $primary-color;
    border: 2px solid $secondary-color;
    color: $text-color;
    border-radius: 10px;
}

.notificationImg {
    border: 2px solid $btn-active-color;
    border-radius: 10px;
    margin: 4px;
    min-width: 156px;
    min-height: 156px;
}

.notification critical {
    background-color: $btn-active-color;
}

.title {
    font-size: 1.5rem;
}

label {
    color: $text-color;
}

.sep {
    color: $secondary-color;
}

scale {
    slider {
        background-color: $text-color;
    }
    highlight {
        background-color: $btn-active-color;
        border: 2px solid $btn-active-border-color;
        min-width: 280px;
    }
}

#leftbox {
    margin-left: 0px;
}

button {
    // border-radius: 0px;
    // border-radius: inherit;
    // border: inherit;

    // border-style: hidden hidden hidden solid;
    // border-radius: 10px 0px 0px 10px;

    border-radius: 0px;
    border: 2px solid $btn-border-color;
    background: $button-color;
    color: $text-color;

    &:first-child {
        border-radius: 10px 0px 0px 10px;
    }
    &:only-child {
        border-radius: 10px;
    }
    &:last-child {
        border-radius: 0px 10px 10px 0px;
    }

    &:hover {
        box-shadow: inset 3px 3px 4px 3px $btn-active-color, inset -3px -3px 4px 3px $btn-active-color;
        border-color: $btn-active-border-color;
    }

    &.focused {
        background: $btn-active-color;
        border: 2px solid $btn-active-border-color;

        &:first-child {
            border-radius: 10px 0px 0px 10px;
        }
        &:last-child {
            border-radius: 0px 10px 10px 0px;
        }

        &:hover {
            background: $button-color;
            box-shadow: inset 3px 3px 4px 3px $btn-active-color, inset -3px -3px 4px 3px $btn-active-color;
        }
    }
}

// .workspaces {
//     button:first-child {
//         border-radius: 10px 0px 0px 10px;
//         // border-style: solid hidden hidden solid;
//         border: 2px transparent;
//         // background: white;
//     }
//
//     button:last-child {
//     }
//     // border-radius: 10px;
//     // border: 2px solid $btn-border-color;
// }
//
// .powerButtons {
//     border-radius: 10px;
//     border: 2px solid $btn-border-color;
// }
